/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page {
  width: 1900px;
  margin: auto;
}
.entete {
  height: 50px;
}
.colonne_menu {
  float: left;
  width: 150px;
  height: 100%;
}
.colonne_contenu {
  margin-left: 160px;
}
.pieddepage {
  height: 50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body {
  /* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ 
    background-color: mediumpurple; */
  background-color: mediumpurple;
}

/*
.page {
	background-color: red; 
}
*/
.entete {
  background-color: #ac26fa;
}
.entete-titre {
  color: white;
  font-size: 10px;
}
.entete-slogan {
  font-style: italic;
  color: white;
  font-size: 12px;
}
.colonnes {
  background-color: #13e8e1;
}
.colonne_menu {
  background-color: rgb(63, 56, 18);
}

.colonne_menu ul {
  margin: 0;
  padding: 0;
}

.colonne_menu li {
  background-color: #c2c2c2;
  list-style: none;
  text-align: center;
  margin: 15px;
}

.colonne_menu li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: white;
}

a {
  font-weight: 600;
}

.colonne_menu li a:hover {
  color: #778899;
}

.colonne_menu li a:hover {
  background-color: white;
}

.colonne_contenu {
  background-color: white;
  padding: 10px;
}
.pieddepage {
  background-color: #778899;
  text-align: center;
  color: white;
  line-height: 55px;
}

h1 {
  margin: 10px;
  margin-bottom: 20px;
  border-bottom: 5px solid #b5af8d;
  text-align: center;
}

h2 {
  color: #b5af8d;
  font-size: 1.5em;
  margin: 20px;
  font-variant: small-caps;
}

strong {
  font-weight: normal;
  color: orange;
}

.introduction {
  font-style: italic;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid rgb(68, 68, 68);
  color: #a0a0a0;
}

.page {
  box-shadow: #b5af8d 2px 2px 2px 2px;
}

p a:hover {
  text-decoration: none;
  color: red;
}

img {
  width: 31px;
  height: 31px;
}
