/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page{
    width: 900px;
    margin:auto;
}
.entete{
    height: 100px;
}
.colonne_menu{
    float:left;
    width:200px;
    height:100%;
}
.colonne_contenu {
    margin-left:200px;
}
.pieddepage{
    height:50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body{
	/* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ 
    background-color: mediumpurple; */
    margin: 0;
    padding: 0;
    background-color: rgb(194, 194, 194);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
/*
.page {
	background-color: red; 
}
*/
.entete{
    background-color: #778899;
    font-size: 20px;
}
.entete-titre{
    font-size: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.entete-slogan{
    font-style: italic;
    color: white;
    font-size: 20px;
}
.colonnes {
    background-color: deepskyblue;
}
.colonne_menu{
    background-color: gold;
}

.colonne_menu ul{
    margin: 0;
    padding: 0;
}

.colonne_menu li{
    list-style: none;
    text-align: center;
    margin: 7px;
    padding: 5px;
}

.colonne_menu a{
    text-decoration: none;
}

.colonne_contenu {
    background-color: lightgreen;
}
.pieddepage{
        background-color: #778899;
        text-align: center;
        color: white;
        line-height: 55px;
}

h1{
    margin: 15px;
}



